:root{
    --button-color: #284BCE;
    --heading-color: #000000;
    --paragraph-color:#394150;
    --light-gray:#6C727F;
    --lighter-gray:#E5E7EB;
    --white:#F9FAFB;
    --whiter:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
img{
    width: 5em;
    height: 5em;
    margin-bottom: 1em;
}
h1{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: .6em;
}
h2{
    font-weight: 500;
    font-size: 1rem;
    color: var(--light-gray);
}
main{
    width: 100vw;
    height: 100vh;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}
.newsletter{
    text-align: center;
}
.input-box{
    width: 100%;
    display: flex;
    max-width: 65%;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    padding: 1em .5em;
    border-radius: 1em;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}
input{
    width: 90%;
    height: 4.5em;
    display: block;
    align-items: center;
    margin-top: .5em;
    text-align: center;
    border-radius: .5em;
    border: 1px solid var(--lighter-gray);
}
button{
    background-color: var(--button-color);
    border: none;
    width: 90%;
    padding: 1.2em 1.2em;
    color: var(--whiter);
    border-radius: .5em;
    margin-bottom: .6em;
    font-size: 1rem;
    font-weight: 600;
}
input::placeholder{
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: 500;
}
p{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
}
button:hover{
    cursor: pointer;
}

@media screen and (max-width:640px) {
    .input-box{
        max-width:95%;
    }
    main{
        max-width: 90%;
    }
}

@media screen and (max-width:1024px) {
    .input-box{
        max-width:95%;
    }
    main{
        max-width: 90%;
    }
}